<!doctype html>
<html lan="en">
    <head>
        <title>Hello from Flask</title>
        <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.5/ZeroClipboard.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script>
            var lexer = "{{ lexer }}"
            var clip
            $(function(){
                clip = new ZeroClipboard($("button#copy"))
                <!--
                clip.on('aftercopy', function(e){
                    console.log(e.data)
                })
                -->
                $("input[name='lexer'][value=" + lexer + "]:radio").prop("checked", true)
            })

        </script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
        <style>
            input[type='radio'] {
                cursor: pointer;
            }
        </style>
    </head>
    <body>
		<div class="container">
			{% if name %}
				<h1>Hello {{ name }}!</h1>
			{% else %}
				<h1>Hello World!</h1>
			{% endif %}
			<form id="lexer">
				<div class="radio">
				{% for lexer in validLexers %}
					<label><input form="code" type="radio" name="lexer" value="{{ lexer }}">{{ lexer }}</label>
					<br>
				{% endfor %}
				</div>
			</form>
			<div class="row">
				<div class="col-md-6">
					<form id="code" method="post" action="/">
						<h3>Code</h3>
						<textarea rows=30 name="code" class="form-control">{{ code }}</textarea>
						<br>
						<button type="submit" class="btn btn-default">Format</button>
                        <div class="checkbox pull-right">
                            <label><input type="checkbox" name="need_shortcode" value="yes">Get shortcode</label>
                        </div>

					</form>
				</div>
				<div class="col-md-6">
					<h3>Formatted</h3>
					<div id="formatted">{{ formatted | safe }}</div>
					<button id="copy" data-clipboard-target="formatted"><span class="mega-octicon octicon-clippy"></span></button>
				</div>
				<div class="col-md-6">
					<h3>HTML</h3>
					<code>{{ formatted }}</code>
				</div>
                {% if shortcode > -1 %}
                <div class="col-md-6">
					<h3>Link</h3>
					<div id="shortcode">Your shortcode is <a href="/shortcode/{{ shortcode }}">{{ shortcode }}</a>.</div>
				</div>
                {%  endif %}
			</div>
		</div>
    </body>
</html>